@mixin adaptive-img($height) {
    height: $height;
    width: auto;
}

@mixin grid-area($column, $row) {
    grid-column: $column;
    grid-row: $row;
}

@mixin hr-line($width, $margin-left: 0) {
    height: 0.2vh;
    width: $width;
    background-color: #000000;
    border: none;
    margin-left: $margin-left;
}

@mixin flex-container($direction: row, $justify: flex-start, $align-items: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
  gap: $gap;
}