$header-bg: #B4B4B4;
$footer-bg: #987358;
$cat-btn-width: 15vw;
$promo-price-color: #FFA448;
$promo-text-color: #DB5151;
$search-bg: #E9E6E6;
$cat-btn-bg: #805B48;
$cat-menu-bg: #E8D1BC;
$cat-menu-hover-bg: #B8926D;
$card-bg: #C5C5C5;
$chatbot-bg: #AAC8C4;
$to-cart-bg: #181818;
$sending-bg: #B8E8F5;
