$header-bg: #B4B4B4;
$footer-bg: #987358;
$chatbot-bg: #AAC8C4;
$to-cart-bg: #3d3d3d;
$sending-bg: #B8E8F5;
$search-bg: #E9E6E6;
$cat-btn-bg: #805B48;
$cat-menu-bg: #E8D1BC;
$body-bg: #F8F8F8;
$reviews-wrapper-bg: #A98256;
$review-bg: #FFFDFA;
$slider-bg: #686868;
$ware-info-bg: #D8D8D8;
$indicator-bg: #9A9A9A;
$cat-menu-hover-bg: #B8926D;
$card-bg: #C5C5C5;
$ware-cart-fav-bg: #DBDBDB;

$text-color-def: #000000;
$promo-price-color: #FFA448;
$promo-text-color: #DB5151;
$btn-color: #ffffff;
$write-review-color: #696969;

$cat-btn-width: 15vw;
