@use 'variables' as v;
@use 'mixins' as m;

header {
    display: flex;
    height: 10vh;
    background-color: v.$header-bg;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 0 3vw;
}

.logo {
    @include m.adaptive-img(4vh);
}

.header-nav {
    margin-left: auto;
    display: flex;
    gap: 2vw;
    align-items: center;
    font-size: 2.3vw;
}

.sign-in-icon, .cart-icon, .fav-icon, .lang-icon {
    @include m.adaptive-img(4vh);
}

.header-line {
    @include m.hr-line(100%);
    position: absolute;
    bottom: 0.7vh;
    left: 0;
}

footer {
    position: absolute;
    display: grid;
    font-size: 1vw;
    font-weight: 300;
    background-color: v.$footer-bg;
    bottom: 0;
    width: 100%;
    grid-template-columns: 35% auto;
    grid-template-rows: auto auto auto;
    gap: 3vh;
}

.refs {
    @include m.grid-area(1, 1);
    margin-top: 3vh;
}

.refs ul {
    list-style-type: square;
    color: #000000;
    padding-left: 2.5rem;
}

.networks {
    @include m.grid-area(1, 2);
}

.networks-content > p {
    margin-left: 4%;
    margin-bottom: 0.2vw;
}

.network-icon {
    height: 5.5vh;
    width: auto;
}

.netw-icons-wrapper {
    margin-left: 0.8vw;
}

.contacts {
    @include m.grid-area(2, 2);
}

.contacts-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "heading heading heading"
    "kyivstar vodafone lifecell"
    "map-point map-point map-point";
    place-items: center;
    height: 4.2vw;
    width: 40vw;
}

.kyivstar, .vodafone, .lifecell, .map-point-wrapper {
    display: flex;
    margin-left: 1vw;
}

.contacts-heading {
    grid-area: heading;
}

.kyivstar {
    grid-area: kyivstar;
}

.vodafone {
    grid-area: vodafone;
}

.lifecell {
    grid-area: lifecell;
}

.map-point-wrapper {
    @include m.adaptive-img(2vh);
    grid-area: map-point;
}

.operators {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.partners {
    display: grid;
    grid-column: span 2;
    justify-content: center;
}

.partners > p {
    display: grid;
    justify-content: center;
    margin-bottom: 0.2vw;
}

.operator-icon {
    @include m.adaptive-img(2vh);
}

.partners-icon {
    @include m.adaptive-img(7vh);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
}

.footer-line {
    @include m.hr-line(98vw, 2vh);
}

.footer-final-text {
    left: 0;
    margin: 2vh;
}