body {
  background-color: #F8F8F8;
}

header {
  display: flex;
  height: 10vh;
  background-color: #B4B4B4;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 0 3vw;
}

.logo {
  height: 4vh;
  width: auto;
}

.header-nav {
  margin-left: auto;
  display: flex;
  gap: 2vw;
  align-items: center;
  font-size: 2.3vw;
}

.sign-in-icon, .cart-icon, .fav-icon, .lang-icon {
  height: 4vh;
  width: auto;
  cursor: pointer;
}

.header-line {
  height: 0.2vh;
  width: 100%;
  background-color: #000000;
  border: none;
  margin-left: 0;
  position: absolute;
  bottom: 0.7vh;
  left: 0;
}

main {
  margin-top: 12vh;
  padding-bottom: 20vh;
}

.ware-search {
  display: flex;
  justify-content: space-around;
}

.categories-wrapper {
  position: relative;
}

.categories-btn {
  display: flex;
  width: 15vw;
  height: 9vh;
  padding-left: 1vw;
  align-items: center;
  background-color: #805B48;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
}

.categories-btn p {
  padding-left: 1vw;
  font-size: 2vw;
  font-weight: bolder;
  color: #ffffff;
}

.cat-menu {
  position: absolute;
  background-color: #E8D1BC;
  width: 22.5vw;
  height: auto;
  border-radius: 5px;
  z-index: 100;
  display: none;
}

.cat-menu ul {
  list-style-type: none;
  justify-items: center;
}

.cat-menu ul li {
  display: flex;
  border-bottom: 1px solid #000000;
  width: 95%;
  font-size: 1.2vw;
  padding: 3px;
  align-items: center;
  text-align: left;
}

.cat-menu ul li:hover {
  background-color: #B8926D;
  cursor: pointer;
}

.categories-icons {
  height: 2.5vh;
  width: auto;
  margin-top: 3px;
  align-items: center;
  margin-right: 1vw;
}

.burger {
  width: 5vh;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 0.8vh;
  border-radius: 2px;
  transition: 0.3s;
  width: 100%;
  background-color: #ffffff;
}

.search-line {
  position: relative;
  display: flex;
  align-items: center;
}

#search-input {
  margin-left: 5vw;
  width: 65vw;
  height: 9vh;
  background-color: #E9E6E6;
  border-radius: 50px;
  padding-right: 2vh;
  font-size: 3vh;
  color: #000000;
  padding-left: 2vw;
  border-color: #000000;
}

.search-btn {
  position: absolute;
  border-radius: 50%;
  border: none;
  height: 6.3vh;
  width: auto;
  right: 0.7vw;
}

.search-icon {
  height: 6.3vh;
  width: auto;
  display: block;
  cursor: pointer;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: 42vh repeat(2, 51vh);
  margin: 5% 5% 5% 15%;
  width: 70vw;
  gap: 5vh;
}

.promo-price {
  position: absolute;
  top: 2vh;
  right: 1vw;
  font-size: 1.4vw;
  font-weight: 700;
  color: #FFA448;
}

.promo-text {
  font-size: 6vh;
  font-weight: 600;
  color: #DB5151;
  text-align: center;
  grid-column: span 2;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #C5C5C5;
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.ware-img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  display: block;
}

.ware-card-info {
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ware-name, .ware-card-descr p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.ware-name {
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
}

.price {
  font-weight: 600;
  font-size: 1.5vw;
  margin-top: 1vh;
  margin-left: 0.5vw;
}

.promo-ware-card-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
}

.ware-card-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.2vh;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: 0.5vw;
}

.star {
  height: 2vh;
  width: auto;
}

.grade {
  font-size: 1.2vw;
}

.fav-icon-card {
  height: 2.5vh;
  width: auto;
  cursor: pointer;
  margin-right: 0.5vw;
}

.chatbot {
  width: 22vw;
  height: auto;
  background-color: #AAC8C4;
  border: none;
  border-radius: 15px;
  margin-right: auto;
  margin-left: 75%;
}

.chatbot-content {
  justify-items: center;
}

.chatbot-header {
  display: flex;
}

#chatbot-heading {
  align-content: center;
  margin-left: 0.5vw;
}

#chatbot-descr {
  font-size: 0.7vw;
  font-weight: 600;
}

#chatbot-input {
  border: none;
  width: 20vw;
  height: 2vh;
  margin-top: 15px;
  margin-bottom: 18px;
}

#chatbot-input::placeholder {
  font-size: 0.7vw;
  font-weight: 400;
}

footer {
  position: relative;
  display: grid;
  font-size: 1vw;
  font-weight: 300;
  background-color: #987358;
  bottom: 0;
  width: 100%;
  grid-template-columns: 35% auto;
  grid-template-rows: auto auto auto;
  gap: 3vh;
}

.refs {
  grid-column: 1;
  grid-row: 1;
  margin-top: 3vh;
}

.refs ul {
  list-style-type: square;
  color: #000000;
  margin-left: 2.5vw;
}

.networks {
  grid-column: 1;
  grid-row: 2;
}

.networks-content > p {
  margin-left: 1.75vw;
  margin-bottom: 0.2vw;
}

.network-icon {
  height: 3vw;
  width: auto;
  cursor: pointer;
}

.netw-icons-wrapper {
  margin-left: 1.4vw;
}

.contacts {
  grid-column: 2;
  grid-row: 2;
}

.contacts-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "heading heading heading" "kyivstar vodafone lifecell" "map-point map-point map-point";
  place-items: center;
  height: 4.2vw;
  width: 45vw;
}

.kyivstar, .vodafone, .lifecell, .map-point-wrapper {
  display: flex;
  margin-left: 1vw;
}

.contacts-heading {
  grid-area: heading;
}

.kyivstar {
  grid-area: kyivstar;
}

.vodafone {
  grid-area: vodafone;
}

.lifecell {
  grid-area: lifecell;
}

.map-point-wrapper {
  height: 2vh;
  width: auto;
  grid-area: map-point;
}

.operators {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.partners {
  display: grid;
  grid-column: span 2;
  justify-content: center;
}

.partners > p {
  display: grid;
  justify-content: center;
  margin-bottom: 0.2vw;
}

.operator-icon {
  height: 1vw;
  width: auto;
}

.partners-icon {
  height: 4vw;
  width: auto;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
}

.footer-line {
  height: 0.2vh;
  width: 98vw;
  background-color: #000000;
  border: none;
  margin-left: 2vh;
}

.footer-final-text {
  left: 0;
  margin: 2vh;
}

/*# sourceMappingURL=main-page.css.map */
