@use '../../main-page/css/variables' as v;
@use '../../main-page/css/mixins' as m;

#cart-icon {
  margin-top: 12px;
}

main {
  width: 50vw;
  height: auto;
  margin: 17vh auto;
  display: flex;
  flex-direction: column;
}

.fav-heading {
  display: flex;
  justify-content: center;
  margin-bottom:  5vh;
}

#fav-icon {
  @include m.adaptive-img(4vh);
  margin-top: 0.5vh;
}

.fav-header-text {
  margin-left: 1vw;
  font-size: 2vw;
  cursor: default;
  justify-content: center;
}

.custom-checkbox {
  width: 1.3vw;
  height: 1.3vw;
  margin: auto 0;
}

.fav-checkbox {
  width: 1.3vw;
  height: 1.3vw;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 1.3vw;
  height: 1.3vw;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  transition: 0.2s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #aa703a;
  border-color: #000000;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  width: 0.5vw;
  height: 1vw;
  border: solid white;
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

#fav-items-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.fav-item {
  display: flex;
  gap: 20px;
  background-color: v.$ware-cart-fav-bg; 
  padding: 20px;
  border-radius: 15px;
}

.fav-product-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.fav-info {
  flex: 1;
}

.fav-info h2 {
  margin: 0 0 10px 0;
  font-size: 1.7vw;
  color: v.$text-color-def;
}

.fav-info p {
  margin: 15px 0;
  font-size: 0.9vw;
  color: v.$text-color-def;
}

.fav-info hr {
  margin: 5vh 0 2vh;
  font-size: 16px;
  color: v.$text-color-def;
}

#total-purchase-cost {
  font-size: 0.9vw;
  margin-top: 5vh;
  font-weight: bold;
}

.to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$btn-color;
  font-size: 1.7vw;
  font-weight: 550;
  background-color: v.$cta-bg;
//   background-color: v.$to-cart-bg;
  border: none;
  border-radius: 1vh;
  width: 22vw;
  height: 9vh;
  margin: 10vh auto 0;
  cursor: pointer;
}

.to-cart:hover {
  background-color: v.$cta-hover-bg;
//   background-color: #614208;
}