@use '../../main-page/css/variables' as v;
@use '../../main-page/css/mixins' as m;

main {
  width: 50vw;
  height: auto;
  margin: 17vh auto;
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  justify-content: center;
  margin-bottom:  5vh;
}

#cart-icon {
  @include m.adaptive-img(4vh);
  margin-top: 3px;
}

.cart-header-text {
  margin-left: 1vw;
  font-size: 2vw;
  cursor: default;
}

#cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.cart-item {
  display: flex;
  gap: 20px;
  background-color: v.$ware-cart-fav-bg; 
  padding: 20px;
  border-radius: 15px;
}

.cart-product-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.cart-info {
  flex: 1;
}

.cart-info h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  color: v.$text-color-def;
}

.cart-info p {
  margin: 15px 0;
  font-size: 16px;
  color: v.$text-color-def;
}

.cart-info hr {
  margin: 5vh 0 2vh;
  font-size: 16px;
  color: v.$text-color-def;
}

#total-purchase-cost {
  font-size: 0.9vw;
  margin-top: 5vh;
  font-weight: bold;
}

.make-order {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$btn-color;
  font-size: 1.7vw;
  font-weight: 550;
  background-color: v.$to-cart-bg;
  border: none;
  border-radius: 1vh;
  width: 22vw;
  height: 9vh;
  margin: 10vh auto 0;
}

.make-order:hover {
  background-color: lighten(v.$to-cart-bg, 10%);
}