@use '../../main-page/css/variables' as v;
@use '../../main-page/css/mixins' as m;

body {
  background-color: v.$additional-pages-bg;
}

main {
  width: 100vw;
  height: auto;
  margin: 15vh auto;
}

.forgot-pw-input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.forgot-pw-input-wrapper label {
    font-size: 1vw;
}

.forgot-pw-input-wrapper p {
    font-size: 0.8vw;
}

.forgot-pw-heading {
    font-size: 1.7vw;
    text-align: center;
    height: auto;
    margin-bottom: 1vw;
}   

.tel-wrapper, .email-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.2vh;
}

.inputs {
    width: 21vw;
    height: 3vh;
    border: none;
}

.forgot-pw {
  color: v.$forgot-pw-color;
  margin-top: 0.5vh;
  cursor: pointer;
}

#forgot-pw-link {
    text-decoration: none;
}

.birthday-options select{
    width: 7vw;
}

.sign-up-input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1px;
}

.sign-in-btn, .sign-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$btn-color;
  font-size: 1.7vw;
  font-weight: 550;
  background-color: v.$cta-bg;
  // background-color: v.$to-cart-bg;
  border: none;
  border-radius: 1vh;
  width: auto;
  height: 7vh;
  margin: 0 auto;
  padding: 0 15px;
  cursor: pointer;
}

.sign-in-btn:hover, .sign-up-btn:hover {
  background-color: v.$cta-hover-bg;
  // background-color: lighten(v.$to-cart-bg, 10%);
}

#sign-in-btn {
    margin-top: 3vh;
}